<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}MaxxChat!{%endblock%}</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-teal-500">
    <nav class='flex items-center justify-between px-6 py-6 bg-teal-700'>
        <div>
            <a href="/" class="text-xl text-white">Chat</a>
        </div>
        <div class="flex items-center space-x-4">
            {%if request.user.is_authenticated%}
                <span class="text-red-400">{{request.user.username}}</span>
                <a href="/chats/" class="text-white hover:text-red-400">Chats</a>
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="py-3 text-white px-5 rounded-xl bg-teal-500 hover:bg-teal-800">Log out</button>
                </form>
                <!-- <a href="/logout/" class='py-3 text-white px-5 rounded-xl bg-teal-500 hover:bg-teal-800'>Log out</a> -->
            {% else %}
                <a href="{% url 'users:login' %}" class="text-white hover:text-red-400">Log in</a>
                <a href="{% url 'users:signup' %}" class="py-3 text-white px-5 rounded-xl bg-teal-500 hover:bg-teal-800">Sign up</a>
            {%endif%}
        </div>
    </nav>

    {% block content %}
    something went wrong, Must be a problem from the server side. Try reloading the page!
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>

